<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><button class ="btn btn-light"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new"><button class="btn btn-primary">New Place</button></a>
</p>

